<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Caminhão')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='Caminhao')}"></header>
    <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
        <h2 class="text-center"
            th:text="${caminhao!= null} ? 'Editar Caminhão' : 'Lista Caminhão'"></h2>
        <div th:if="${message != null}"
             class="alert alert-success alert-dismissible fade show text-center"
             role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <a href="/caminhao/formulario">Novo</a>
    <div th:if="${lista.size() > 0}">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Ano</th>
                <th>Carga Máxima</th>
                <th>Marca</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="caminhao : ${lista}">
                <td th:text="${caminhao.id}">ID</td>
                <td th:text="${caminhao.modelo}">Modelo</td>
                <td th:text="${caminhao.placa}">Placa</td>
                <td th:text="${caminhao.ano}">Ano</td>
                <td th:text="${caminhao.cargaMaxima}">Carga Máxima</td>
                <td th:text="${caminhao.marca}">Marca</td>

                <td><a th:href="@{'/caminhao/formulario?id=' + ${caminhao.id}}"
                       title="Editar o Caminhao"
                       class="fa-regular fa-pen-to-square icon-dark"></a> &nbsp;
                    <a th:href="@{'/caminhao/delete/' + ${caminhao.id}}"
                       th:filmeTitle="${caminhao.placa}" id="btnDelete"
                       title="Apague este caminhao"
                       class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>